/*Elementos acomodados de forma alfabetica*/


#btnRegistrar{
    width: 150px;
    height: 50px;
    background-color: #67C5FF;
    color: white;
    font-size: 20px;
    border-radius: 30px;
}  

#btnSubirFuente{
    background-color: #67C5FF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
}

#btnRegistrate{
    background-color: #67C5FF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
}

.card{
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.4);
    padding: 20px;
    align-items: center;
    height: 100%;
}
#card1{
    background-color: #EEF7FF;
}

#datosCard{
   height: 100%;
   padding: 50px;
   width: 100%;
   margin-left: 50%;
   margin-top: 15%;
   background-color: #EEF7FF;
}

#datosCard h2, #datosCard button{
    text-align: center;
}
#datosCard p{
    margin-top: 40px;
    margin-left: 15%;
    font-size: 20px;
}
#datosCard input{
    margin-top: 10px;
    width: 500px;
    height: 50px;
    margin-left: 15%;
    border-radius: 30px;
}
#encabezado{
    box-shadow: 0 10px 20px rgba(0,0,0, 0.3);
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: static;
}
#encabezado input{
    margin-top: 15px;
    margin-left: 20px;
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
}
#encabezado h1{
    font-family: italic;
    font-size: 60px;
    
}

#encabezado{
    background-color: #FFFFFF;
    color: black;
    font-style: bold;
    font-size: 50px;
    height: 80px;
    border: solid;
    border-color: black;
    border-width: 2px;

}

#FotoDePerfil{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#ImagenPro{
    height: 100%;
    width: 100%;
}

#LogInCol2{
    border: solid;
    border-color: black;
    border-width: 2px;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
}

#NombreDeUsuario{
    color:black;
    font-size: 30px;
    padding: 10px;

}

#presentacionCard{
    width: 90%;
    margin-top: 100px;
    margin-left: 5%;
    border: solid;
    border-color: black;
    border-width: 2px;
}

#PrimerTercio{
    background-color: #FFFFFF;
    padding:50px;
    height: 400px;
}
#PrimerTercioImagen{
    
    height: 300px;
    width: 800px;
}

#SegundoTercio{
    background-color: #EEF7FF;
    padding: 30px;
    height: 400px;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.4);
    padding: 20px;
}

#SegundoTercioImagen{
    height: 150px;
    width: 150px;
}
#TercerTercio{
    padding: 30px;
    background-color: #FFFFFF;
    height: 400px;
}
#TercerTercioImagen{
    height: 150px;
    width: 150px;
    margin-left: 50px;
}